.header
  width: 100%
  background-color: #FF4646
  height: 117px
  .header__container
    max-width: 1920px
    width: 100%
    display: flex
    justify-content: end
    padding: 25px 30px
    .header__link-container
      display: flex
      gap: 15px
  .header__container_login
    justify-content: space-between
  .header__user-info
    display: flex
    gap: 20px
    align-items: center
    .header__user-img
      border-radius: 50%
      width: 60px
    .header__user-title
      font-size: 18px
      font-family: 'Roboto', sans-serif
      font-weight: bold
      color: white
